<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if metaRedirect}}
      <meta http-equiv="refresh" content="2;url={{url}}admin">
    {{/if}}
    {{#if script}}
      <script src="/{{script}}" defer></script>
    {{/if}}
    <link rel="stylesheet" href="/{{style1}}">
  <link rel="stylesheet" href="/{{style}}">
  
  <title>{{title}}</title>
</head>
<body>
  <header>
    <!-- Top content -->
    {{#if noMenu}}
    {{else}}
    {{> top }}
   {{/if}}
  </header>
  
  <main>
    <!-- Dynamic main content -->
    {{{body}}}
  </main>
 
  <footer>
    <!-- Bottom content -->
    {{> bottom }}
  </footer>
</body>
</html>
